USE [master]
GO
/****** Object:  Database [The Multi-Specialty Healthcare Network]    Script Date: 10/4/2026 8:56:01 PM ******/
CREATE DATABASE [The Multi-Specialty Healthcare Network]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'The Multi-Specialty Healthcare Network', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\The Multi-Specialty Healthcare Network.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'The Multi-Specialty Healthcare Network_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\The Multi-Specialty Healthcare Network_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [The Multi-Specialty Healthcare Network].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [The Multi-Specialty Healthcare Network]
GO
/****** Object:  Table [dbo].[APPOINTMENT]    Script Date: 10/4/2026 8:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPOINTMENT](
	[APPOINTMENT_ID] [int] NOT NULL,
	[DIAGNOSIS_ID] [int] NOT NULL,
	[DOCTOR_ID] [int] NOT NULL,
	[PATIENT_ID_] [int] NULL,
	[DATE] [datetime] NULL,
	[TIME] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BRANCH]    Script Date: 10/4/2026 8:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRANCH](
	[BRANCH_ID_] [int] NOT NULL,
	[_ADDRESS] [varchar](200) NULL,
	[CONTACT_DETAILS] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIAGNOSIS]    Script Date: 10/4/2026 8:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIAGNOSIS](
	[DIAGNOSIS_ID] [int] NOT NULL,
	[APPOINTMENT_ID] [int] NOT NULL,
	[DESCRIPTION] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCTOR]    Script Date: 10/4/2026 8:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCTOR](
	[DOCTOR_ID] [int] NOT NULL,
	[BRANCH_ID_] [int] NOT NULL,
	[NAME] [varchar](100) NULL,
	[EXPERTISE] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDICATION]    Script Date: 10/4/2026 8:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICATION](
	[MEDICATION_ID] [int] NOT NULL,
	[MEDICATION_NAME] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PATIENT]    Script Date: 10/4/2026 8:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PATIENT](
	[PATIENT_ID_] [int] NOT NULL,
	[NAME] [varchar](100) NULL,
	[DEMOGRAPHICS] [varchar](200) NULL,
	[HISTORY] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQUIRES]    Script Date: 10/4/2026 8:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQUIRES](
	[DIAGNOSIS_ID] [int] NOT NULL,
	[MEDICATION_ID] [int] NOT NULL,
	[DOSAGE] [varchar](100) NOT NULL,
	[DURATION] [int] NOT NULL,
 CONSTRAINT [PK_REQUIRES] PRIMARY KEY CLUSTERED 
(
	[DIAGNOSIS_ID] ASC,
	[MEDICATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[APPOINTMENT] ([APPOINTMENT_ID], [DIAGNOSIS_ID], [DOCTOR_ID], [PATIENT_ID_], [DATE], [TIME]) VALUES (1, 1, 1, 1, CAST(N'2026-04-01T00:00:00.000' AS DateTime), CAST(N'1900-01-01T09:00:00.000' AS DateTime))
INSERT [dbo].[APPOINTMENT] ([APPOINTMENT_ID], [DIAGNOSIS_ID], [DOCTOR_ID], [PATIENT_ID_], [DATE], [TIME]) VALUES (2, 2, 2, 2, CAST(N'2026-04-02T00:00:00.000' AS DateTime), CAST(N'1900-01-01T10:30:00.000' AS DateTime))
INSERT [dbo].[APPOINTMENT] ([APPOINTMENT_ID], [DIAGNOSIS_ID], [DOCTOR_ID], [PATIENT_ID_], [DATE], [TIME]) VALUES (3, 3, 6, 3, CAST(N'2026-04-03T00:00:00.000' AS DateTime), CAST(N'1900-01-01T11:00:00.000' AS DateTime))
GO
INSERT [dbo].[BRANCH] ([BRANCH_ID_], [_ADDRESS], [CONTACT_DETAILS]) VALUES (1, N'15 Tahrir Square, Cairo', N'02-23456789')
INSERT [dbo].[BRANCH] ([BRANCH_ID_], [_ADDRESS], [CONTACT_DETAILS]) VALUES (2, N'22 Heliopolis Street, Cairo', N'02-24567890')
INSERT [dbo].[BRANCH] ([BRANCH_ID_], [_ADDRESS], [CONTACT_DETAILS]) VALUES (3, N'5 Road 9, Maadi, Cairo', N'02-25678901')
GO
INSERT [dbo].[DIAGNOSIS] ([DIAGNOSIS_ID], [APPOINTMENT_ID], [DESCRIPTION]) VALUES (1, 1, N'Atherosclerotic heart disease')
INSERT [dbo].[DIAGNOSIS] ([DIAGNOSIS_ID], [APPOINTMENT_ID], [DESCRIPTION]) VALUES (2, 2, N'Chronic migraine')
INSERT [dbo].[DIAGNOSIS] ([DIAGNOSIS_ID], [APPOINTMENT_ID], [DESCRIPTION]) VALUES (3, 3, N'Lower back pain')
GO
INSERT [dbo].[DOCTOR] ([DOCTOR_ID], [BRANCH_ID_], [NAME], [EXPERTISE]) VALUES (1, 1, N'Dr. Ahmed Hassan', N'Cardiology')
INSERT [dbo].[DOCTOR] ([DOCTOR_ID], [BRANCH_ID_], [NAME], [EXPERTISE]) VALUES (2, 1, N'Dr. Sara Ibrahim', N'Neurology')
INSERT [dbo].[DOCTOR] ([DOCTOR_ID], [BRANCH_ID_], [NAME], [EXPERTISE]) VALUES (3, 2, N'Dr. Mohamed Farouk', N'Cardiology')
GO
INSERT [dbo].[MEDICATION] ([MEDICATION_ID], [MEDICATION_NAME]) VALUES (1, N'Aspirin')
INSERT [dbo].[MEDICATION] ([MEDICATION_ID], [MEDICATION_NAME]) VALUES (2, N'Metformin')
INSERT [dbo].[MEDICATION] ([MEDICATION_ID], [MEDICATION_NAME]) VALUES (3, N'Amlodipine')
GO
INSERT [dbo].[PATIENT] ([PATIENT_ID_], [NAME], [DEMOGRAPHICS], [HISTORY]) VALUES (1, N'Ali Mahmoud', N'Age: 38, Male, Cairo', N'No chronic conditions')
INSERT [dbo].[PATIENT] ([PATIENT_ID_], [NAME], [DEMOGRAPHICS], [HISTORY]) VALUES (2, N'Fatima Nassar', N'Age: 33, Female, Cairo', N'Diabetes Type 2')
INSERT [dbo].[PATIENT] ([PATIENT_ID_], [NAME], [DEMOGRAPHICS], [HISTORY]) VALUES (3, N'Youssef Badr', N'Age: 45, Male, Giza', N'Hypertension')
GO
INSERT [dbo].[REQUIRES] ([DIAGNOSIS_ID], [MEDICATION_ID], [DOSAGE], [DURATION]) VALUES (1, 1, N'100mg once daily', 90)
INSERT [dbo].[REQUIRES] ([DIAGNOSIS_ID], [MEDICATION_ID], [DOSAGE], [DURATION]) VALUES (1, 3, N'5mg once daily', 30)
INSERT [dbo].[REQUIRES] ([DIAGNOSIS_ID], [MEDICATION_ID], [DOSAGE], [DURATION]) VALUES (2, 4, N'400mg as needed', 30)
GO
/****** Object:  Index [PK_APPOINTMENT]    Script Date: 10/4/2026 8:56:03 PM ******/
ALTER TABLE [dbo].[APPOINTMENT] ADD  CONSTRAINT [PK_APPOINTMENT] PRIMARY KEY NONCLUSTERED 
(
	[APPOINTMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ATTENDS_FK]    Script Date: 10/4/2026 8:56:03 PM ******/
CREATE NONCLUSTERED INDEX [ATTENDS_FK] ON [dbo].[APPOINTMENT]
(
	[PATIENT_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [CONDUCTS_FK]    Script Date: 10/4/2026 8:56:03 PM ******/
CREATE NONCLUSTERED INDEX [CONDUCTS_FK] ON [dbo].[APPOINTMENT]
(
	[DOCTOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RESULTS_IN_FK]    Script Date: 10/4/2026 8:56:03 PM ******/
CREATE NONCLUSTERED INDEX [RESULTS_IN_FK] ON [dbo].[APPOINTMENT]
(
	[DIAGNOSIS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_BRANCH]    Script Date: 10/4/2026 8:56:03 PM ******/
ALTER TABLE [dbo].[BRANCH] ADD  CONSTRAINT [PK_BRANCH] PRIMARY KEY NONCLUSTERED 
(
	[BRANCH_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_DIAGNOSIS]    Script Date: 10/4/2026 8:56:03 PM ******/
ALTER TABLE [dbo].[DIAGNOSIS] ADD  CONSTRAINT [PK_DIAGNOSIS] PRIMARY KEY NONCLUSTERED 
(
	[DIAGNOSIS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RESULTS_IN2_FK]    Script Date: 10/4/2026 8:56:03 PM ******/
CREATE NONCLUSTERED INDEX [RESULTS_IN2_FK] ON [dbo].[DIAGNOSIS]
(
	[APPOINTMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_DOCTOR]    Script Date: 10/4/2026 8:56:03 PM ******/
ALTER TABLE [dbo].[DOCTOR] ADD  CONSTRAINT [PK_DOCTOR] PRIMARY KEY NONCLUSTERED 
(
	[DOCTOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [WORKS_AT_FK]    Script Date: 10/4/2026 8:56:03 PM ******/
CREATE NONCLUSTERED INDEX [WORKS_AT_FK] ON [dbo].[DOCTOR]
(
	[BRANCH_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_MEDICATION]    Script Date: 10/4/2026 8:56:03 PM ******/
ALTER TABLE [dbo].[MEDICATION] ADD  CONSTRAINT [PK_MEDICATION] PRIMARY KEY NONCLUSTERED 
(
	[MEDICATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_PATIENT]    Script Date: 10/4/2026 8:56:03 PM ******/
ALTER TABLE [dbo].[PATIENT] ADD  CONSTRAINT [PK_PATIENT] PRIMARY KEY NONCLUSTERED 
(
	[PATIENT_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [REQUIRES_FK]    Script Date: 10/4/2026 8:56:03 PM ******/
CREATE NONCLUSTERED INDEX [REQUIRES_FK] ON [dbo].[REQUIRES]
(
	[DIAGNOSIS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [REQUIRES2_FK]    Script Date: 10/4/2026 8:56:03 PM ******/
CREATE NONCLUSTERED INDEX [REQUIRES2_FK] ON [dbo].[REQUIRES]
(
	[MEDICATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[APPOINTMENT]  WITH NOCHECK ADD  CONSTRAINT [FK_APPOINTM_ATTENDS_PATIENT] FOREIGN KEY([PATIENT_ID_])
REFERENCES [dbo].[PATIENT] ([PATIENT_ID_])
GO
ALTER TABLE [dbo].[APPOINTMENT] CHECK CONSTRAINT [FK_APPOINTM_ATTENDS_PATIENT]
GO
ALTER TABLE [dbo].[APPOINTMENT]  WITH NOCHECK ADD  CONSTRAINT [FK_APPOINTM_CONDUCTS_DOCTOR] FOREIGN KEY([DOCTOR_ID])
REFERENCES [dbo].[DOCTOR] ([DOCTOR_ID])
GO
ALTER TABLE [dbo].[APPOINTMENT] CHECK CONSTRAINT [FK_APPOINTM_CONDUCTS_DOCTOR]
GO
ALTER TABLE [dbo].[DIAGNOSIS]  WITH CHECK ADD  CONSTRAINT [FK_DIAGNOSI_RESULTS_I_APPOINTM] FOREIGN KEY([APPOINTMENT_ID])
REFERENCES [dbo].[APPOINTMENT] ([APPOINTMENT_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DIAGNOSIS] CHECK CONSTRAINT [FK_DIAGNOSI_RESULTS_I_APPOINTM]
GO
ALTER TABLE [dbo].[DOCTOR]  WITH CHECK ADD  CONSTRAINT [FK_DOCTOR_WORKS_AT_BRANCH] FOREIGN KEY([BRANCH_ID_])
REFERENCES [dbo].[BRANCH] ([BRANCH_ID_])
GO
ALTER TABLE [dbo].[DOCTOR] CHECK CONSTRAINT [FK_DOCTOR_WORKS_AT_BRANCH]
GO
ALTER TABLE [dbo].[REQUIRES]  WITH CHECK ADD  CONSTRAINT [FK_REQUIRES_REQUIRES_DIAGNOSI] FOREIGN KEY([DIAGNOSIS_ID])
REFERENCES [dbo].[DIAGNOSIS] ([DIAGNOSIS_ID])
GO
ALTER TABLE [dbo].[REQUIRES] CHECK CONSTRAINT [FK_REQUIRES_REQUIRES_DIAGNOSI]
GO
ALTER TABLE [dbo].[REQUIRES]  WITH CHECK ADD  CONSTRAINT [FK_REQUIRES_REQUIRES2_MEDICATI] FOREIGN KEY([MEDICATION_ID])
REFERENCES [dbo].[MEDICATION] ([MEDICATION_ID])
GO
ALTER TABLE [dbo].[REQUIRES] CHECK CONSTRAINT [FK_REQUIRES_REQUIRES2_MEDICATI]
GO
USE [master]
GO
